/* Navbar.css */
.Navbar {
    background-color: #ffc107; /* Bootstrap primary color */
    padding: 1rem;
    width: 100%;
  }
  
  .Navbar img {
    height: 250px; /* You can set the height as needed */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
  }
  